
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lato-font{
    font-family: "Lato", sans-serif;
}

.playfair-font{
      font-family: "Playfair", serif;
}

.first-section {
    height: auto;
    width: 100%;
    background-image: url('./assets/images/home-hero.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.first-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 25, 0.6);
}

.center-section {
    position: relative;
    z-index: 2;
    color: white;
    padding-block: 8rem;
}

.nav-btn{
    background-color: orangered;
    padding-block: 0.8rem;
    padding-inline: 1.5rem;
    border: none;
    border-radius: 5px;
}

.main-hero-head{
    font-size: 5rem;
    padding-block: 1.5rem;
}

.header-p-content{
    background-color:#D1D1D145;
    width: 20rem;
    font-size: 1.2rem;
    color: white;

}

.header-btn1{
    background-color: orangered;
    padding-block: 0.8rem;
    padding-inline: 2rem;
    color: white;
}

.header-btn2{
    background-color:#D1D1D145;
    padding-block: 0.8rem;
    padding-inline: 2rem;
    color: white;

}
.header-btn2:hover{
    color: white;
    background-color: orangered;
}


/* ........................................  */


.second_section{
    height: auto;
    width: 100%;
    padding-top: 5rem;
}

.para-content{
    background-color:#fb56071c;
    width: 20rem;
    font-size: 1.2rem;
    color: #fb5607;
}

.second-sec-img{
    border-radius: 20%;
}
.svg-icons{
    fill: #fb5607;
}

.circle-para{
    background-color:#fb56071c;
    color: #fb5607;
    width: 10rem;
   
}

.circle-div{
    height: 15rem;
    width: 15rem;
    display: flex;
    position: relative;
    bottom:7rem;
    left: 3.5rem;
    background-color: white;
    border-radius: 50%;
   
}

/* ..........................................  */

.section-three{
    height: auto;
    background-color: #fff7ec;
}

.third-sec-img{
    padding-left: 7rem;
    padding-block: 5rem;
}

.top-div-para{
    color: #fb5607;
    width: 7rem;
    padding: 0.7rem;
    text-align: center;
}

.sec-three-right-main{
    padding-block: 5rem;
}
.three-top-div>h1{
    font-size: 3.5rem;
    font-weight: 800;
}